<div class="container">
        <div id="myCarousel" class="carousel slide mt-3" data-ride="carousel">
          <div class="carousel-inner row w-100 mx-auto">
              <div class="card-deck mb-4">
            <div class="carousel-item col-md-4 active">
                <div class="card text-center border-primary ">
                    <div class="card-body">
                      <h4 class="card-title">Schools</h4>
                      <div class="view overlay">
                        <img class="card-img" src="/images/undraw_graduation_9x4i.svg" style="height:15rem" alt="Card image cap">
                      </div>
                      <p class="card-text">Hit the books and go back to School in Prosper!</p>
                      <a href="#!" class="btn btn-danger">Find a School</a>
                    </div>
                  </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card text-center border-primary">
                    <div class="card-body">
                      <h4 class="card-title">Restaurants</h4>
                      <div class="view overlay">
                        <img class="card-img" src="/images/undraw_eating_together_tjhx.svg" style="height:15rem" alt="Card image cap">
                      </div>
                      <p class="card-text">Hungry? Grab a bite to eat at Restaurants in Prosper!</p>
                      <a href="#!" class="btn btn-danger">Find a Restaurant</a>
                    </div>
                  </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card text-center border-primary">
                    <div class="card-body">
                      <h4 class="card-title">Hotels</h4>
                      <div class="view overlay">
                        <img class="card-img" src="/images/undraw_sleep_analysis_o5f9.svg" style="height:15rem" alt="Card image cap">
                      </div>
                      <p class="card-text">Find a Hotel to stay for the night, or the entire weekend!</p>
                      <a href="#!" class="btn btn-danger">Find a Hotel</a>
                    </div>
                  </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card text-center border-primary">
                    <div class="card-body">
                      <h4 class="card-title">Theaters</h4>
                      <div class="view overlay">
                        <img class="card-img" src="/images/undraw_movie_night_93wl.svg" style="height:15rem" alt="Card image cap">
                      </div>
                      <p class="card-text">Find a Hotel to stay for the night, or the entire weekend!</p>
                      <a href="#!" class="btn btn-danger">Find a Theater</a>
                    </div>
                  </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card text-center border-primary">
                    <div class="card-body">
                      <h4 class="card-title">Real Estate</h4>
                      <div class="view overlay">
                        <img class="card-img" src="/images/undraw_for_sale_viax.svg" style="height:15rem" alt="Card image cap">
                      </div>
                      <p class="card-text">Find a Home or Condo in Prosper!</p>
                      <a href="#!" class="btn btn-danger">See Real Estate</a>
                    </div>
                  </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card text-center border-primary">
                    <div class="card-body">
                      <h4 class="card-title">Camping</h4>
                      <div class="view overlay">
                        <img class="card-img" src="/images/undraw_camping_j8s0.svg" style="height:15rem" alt="Card image cap">
                      </div>
                      <p class="card-text">Go Camping in Prosper!</p>
                      <a href="#!" class="btn btn-danger">See Camp Sites</a>
                    </div>
                  </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card text-center border-primary">
                    <div class="card-body">
                      <h4 class="card-title">Gyms</h4>
                      <div class="view overlay">
                        <img class="card-img" src="/images/undraw_jogging_df0s.svg" style="height:15rem" alt="Card image cap">
                      </div>
                      <p class="card-text">Get Fit in Prosper!</p>
                      <a href="#!" class="btn btn-danger">See Local Gyms</a>
                    </div>
                  </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card text-center border-primary">
                    <div class="card-body">
                      <h4 class="card-title">Bars</h4>
                      <div class="view overlay">
                        <img class="card-img" src="/images/undraw_beer_celebration_3wc8.svg" style="height:15rem" alt="Card image cap">
                      </div>
                      <p class="card-text">Find a Pub in Prosper!</p>
                      <a href="#!" class="btn btn-danger">See Nearby Bars</a>
                    </div>
                  </div>
            </div>
            <div class="carousel-item col-md-4">
                    <div class="card text-center border-primary">
                        <div class="card-body">
                          <h4 class="card-title">Yoga</h4>
                          <div class="view overlay">
                            <img class="card-img" src="/images/undraw_meditation_vvcl.svg" style="height:15rem" alt="Card image cap">
                          </div>
                          <p class="card-text">Start Yoga!</p>
                          <a href="#!" class="btn btn-danger">See Nearby Bars</a>
                        </div>
                      </div>
                </div>
                <div class="carousel-item col-md-4">
                        <div class="card text-center border-primary">
                            <div class="card-body">
                              <h4 class="card-title">Banks</h4>
                              <div class="view overlay">
                                <img class="card-img" src="/images/undraw_vault_9cmw.svg" style="height:15rem" alt="Card image cap">
                              </div>
                              <p class="card-text">Protect your Money</p>
                              <a href="#!" class="btn btn-danger">See Nearby Bars</a>
                            </div>
                          </div>
                    </div>
                    <div class="carousel-item col-md-4">
                            <div class="card text-center border-primary">
                                <div class="card-body">
                                  <h4 class="card-title">Lawyers</h4>
                                  <div class="view overlay">
                                    <img class="card-img" src="/images/undraw_agreement_aajr.svg" style="height:15rem" alt="Card image cap">
                                  </div>
                                  <p class="card-text">Get Legal Help!</p>
                                  <a href="#!" class="btn btn-danger">Find a Lawyer</a>
                                </div>
                              </div>
                        </div>
                        <div class="carousel-item col-md-4">
                                <div class="card text-center border-primary">
                                    <div class="card-body">
                                      <h4 class="card-title">Dog Kennels</h4>
                                      <div class="view overlay">
                                        <img class="card-img" src="/images/undraw_cautious_dog_1_xje0.svg" style="height:15rem" alt="Card image cap">
                                      </div>
                                      <p class="card-text">Find a Dog Sitter!</p>
                                      <a href="#!" class="btn btn-danger">Find a Dog Sitter</a>
                                    </div>
                                  </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                    <div class="card text-center border-primary">
                                        <div class="card-body">
                                          <h4 class="card-title">Food Trucks</h4>
                                          <div class="view overlay">
                                            <img class="card-img" src="/images/undraw_street_food_hm5i.svg" style="height:15rem" alt="Card image cap">
                                          </div>
                                          <p class="card-text">Great food on the move!!</p>
                                          <a href="#!" class="btn btn-danger">Find a Food Truck</a>
                                        </div>
                                      </div>
                                </div>
                                <div class="carousel-item col-md-4">
                                        <div class="card text-center border-primary">
                                            <div class="card-body">
                                              <h4 class="card-title">Auto Repair</h4>
                                              <div class="view overlay">
                                                <img class="card-img" src="/images/undraw_by_my_car_ttge.svg" style="height:15rem" alt="Card image cap">
                                              </div>
                                              <p class="card-text">Make sure your can is running in perfect condition!</p>
                                              <a href="#!" class="btn btn-danger">Find a Mechanic!</a>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="carousel-item col-md-4">
                                            <div class="card text-center border-primary">
                                                <div class="card-body">
                                                  <h4 class="card-title">Gyms</h4>
                                                  <div class="view overlay">
                                                    <img class="card-img" src="/images/undraw_healthy_habit_bh5w.svg" style="height:15rem" alt="Card image cap">
                                                  </div>
                                                  <p class="card-text">Pump some iron!</p>
                                                  <a href="#!" class="btn btn-danger">Find a Gym!</a>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="carousel-item col-md-4">
                                                <div class="card text-center border-primary">
                                                    <div class="card-body">
                                                      <h4 class="card-title">Cupcakes</h4>
                                                      <div class="view overlay">
                                                        <img class="card-img" src="/images/undraw_tasting_de22.svg" style="height:15rem" alt="Card image cap">
                                                      </div>
                                                      <p class="card-text">Make sure your can is running in perfect condition!</p>
                                                      <a href="#!" class="btn btn-danger">Find a Mechanic!</a>
                                                    </div>
                                                  </div>
                                            </div>
                                            <div class="carousel-item col-md-4">
                                                    <div class="card text-center border-primary">
                                                        <div class="card-body">
                                                          <h4 class="card-title">Country Club</h4>
                                                          <div class="view overlay">
                                                            <img class="card-img" src="/images/undraw_grand_slam_0q5r.svg" style="height:15rem" alt="Card image cap">
                                                          </div>
                                                          <p class="card-text">Make sure your can is running in perfect condition!</p>
                                                          <a href="#!" class="btn btn-danger">Find a Country Club!</a>
                                                        </div>
                                                      </div>
                                                </div>
                                                <div class="carousel-item col-md-4">
                                                        <div class="card text-center border-primary">
                                                            <div class="card-body">
                                                              <h4 class="card-title">Date Ideas</h4>
                                                              <div class="view overlay">
                                                                <img class="card-img" src="/images/undraw_together_j0gj.svg" style="height:15rem" alt="Card image cap">
                                                              </div>
                                                              <p class="card-text">Make the perfect date!</p>
                                                              <a href="#!" class="btn btn-danger">Find a Fun Date!</a>
                                                            </div>
                                                          </div>
                                                    </div>
                                                    <div class="carousel-item col-md-4">
                                                            <div class="card text-center border-primary">
                                                                <div class="card-body">
                                                                  <h4 class="card-title">Tree Service</h4>
                                                                  <div class="view overlay">
                                                                    <img class="card-img" src="/images/undraw_romantic_getaway_k2mf.svg" style="height:15rem" alt="Card image cap">
                                                                  </div>
                                                                  <p class="card-text">Cut down trees!</p>
                                                                  <a href="#!" class="btn btn-danger">Tree Removal!</a>
                                                                </div>
                                                              </div>
                                                        </div>
                                                        <div class="carousel-item col-md-4">
                                                                <div class="card text-center border-primary">
                                                                    <div class="card-body">
                                                                      <h4 class="card-title">Home Services</h4>
                                                                      <div class="view overlay">
                                                                        <img class="card-img" src="/images/undraw_building_blocks_n0nc.svg" style="height:15rem" alt="Card image cap">
                                                                      </div>
                                                                      <p class="card-text">Home repair and more!</p>
                                                                      <a href="#!" class="btn btn-danger">Find a Contractor!</a>
                                                                    </div>
                                                                  </div>
                                                            </div>
                                                            <div class="carousel-item col-md-4">
                                                                    <div class="card text-center border-primary">
                                                                        <div class="card-body">
                                                                          <h4 class="card-title">Accountants</h4>
                                                                          <div class="view overlay">
                                                                            <img class="card-img" src="/images/undraw_finance_0bdk.svg" style="height:15rem" alt="Card image cap">
                                                                          </div>
                                                                          <p class="card-text">Tax help and more!</p>
                                                                          <a href="#!" class="btn btn-danger">Find an Accountant!</a>
                                                                        </div>
                                                                      </div>
                                                                </div>
                                                                <div class="carousel-item col-md-4">
                                                                        <div class="card text-center border-primary">
                                                                            <div class="card-body">
                                                                              <h4 class="card-title">Web Development</h4>
                                                                              <div class="view overlay">
                                                                                <img class="card-img" src="/images/undraw_designer_kcp7.svg" style="height:15rem" alt="Card image cap">
                                                                              </div>
                                                                              <p class="card-text">Design, Dev and More!</p>
                                                                              <a href="#!" class="btn btn-danger">Find a Dev!</a>
                                                                            </div>
                                                                          </div>
                                                                    </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 text-center mt-2">
                <a class="btn btn-outline-secondary mx-1 prev" href="javascript:void(0)" title="Previous">
                  <i class="fa fa-lg fa-chevron-left"></i>
                </a>
                <a class="btn btn-outline-secondary mx-1 next" href="javascript:void(0)" title="Next">
                  <i class="fa fa-lg fa-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>