<!DOCTYPE html>
<html lang="en">

<!--Head-->
{% include header.html %}
<!--/Head-->

<body>

  <!--Head-->
  {% include nav.html %}
  <!--/Head-->

  <div class="jumbotron bg-danger text-white radius-0 mb-0">
    <div class="container">
      <h1 class="display-1 text-chicle text-light">Prosper Post</h1>
      <span class="lead text-light">Events, People, Places, Businesses and Lifestyle in Prosper, TX!</span>

      <div class="mt-4">
        <a href="#!" class="btn btn-light btn-lg my-2 mr-2 btn-wide text-danger">
          <span>Contact Us</span>
        </a>
      </div>
    </div>
  </div>



  <div class="container py-4 ">
    <h2>Thanks</h2>

    <p>Thank you for visiting Prosper Post! We will be launching our new site soon!
    </p>


    <div class="card-deck">
      <div class="card text-center border-primary">
        <div class="card-body">
          <h4 class="card-title">News</h4>
          <div class="view overlay">
            <img class="card-img" src="/images/undraw_welcome_3gvl.svg" style="height:15rem" alt="Card image cap">
          </div>
          <p class="card-text">Learn more about upcoming Events in Prosper, Texas!</p>
          <a href="#!" class="btn btn-danger">Events in Prosper</a>
        </div>
      </div>


      <div class="card text-center border-primary">
        <div class="card-body">
          <h4 class="card-title">Events</h4>
          <div class="view overlay">
            <img class="card-img" src="/images/undraw_queue_qt30.svg" style="height:15rem" alt="Card image cap">
          </div>
          <p class="card-text">Learn more about upcoming Events in Prosper, Texas!</p>
          <a href="#!" class="btn btn-danger">Events in Prosper</a>
        </div>
      </div>

      <div class="card text-center border-primary">
        <div class="card-body">
          <h4 class="card-title">Businesses</h4>
          <div class="view overlay">
            <img class="card-img" src="/images/undraw_Building_leu4.svg" style="height:15rem" alt="Card image cap">
          </div>
          <p class="card-text">Learn more about upcoming Events in Prosper, Texas!</p>
          <a href="#!" class="btn btn-danger">Events in Prosper</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid gray-container py-4">
    <div class="container">
      <!--Events start-->
      <h2>Upcoming Events in Prosper</h2>
      <div class="card-deck mb-4">
        <div class="card text-center border-primary ">
          <div class="card-header">
            <h4 class="card-title">Lunch and Learn - Denise Gustavson Grant</h4>
          </div>
          <div class="card-body">
            <div class="view overlay">
              <img class="card-img mb-2" src="https://chambermaster.blob.core.windows.net/images/events/2435/656/EventPhotoFull_May%203%20Lunch%20n%20Learn%20Flyer.png"
                style="height:15rem" alt="Card image cap">
            </div>
            <p class="card-text text-left">Preventative, Maintenance & Safety, that is. This lunch & learn in for all the Realtors, mortgage lenders, insurance
              agents & homeowners!</p>
            <a href="http://www.prosperchamber.com/events/details/lunch-and-learn-sponsored-by-independent-bank-denise-gustavson-grant-656"
              class="btn btn-danger">Learn More</a>
          </div>
          <div class="card-footer text-muted">
            May 3, 2018
          </div>
        </div>


        <div class="card text-center border-primary ">
          <div class="card-header">
            <h4 class="card-title">Ribbon Cutting - Donut Stop NTX</h4>
          </div>
          <div class="card-body">
            <div class="view overlay">
              <img class="card-img mb-2" src="https://chambermaster.blob.core.windows.net/userfiles/UserFiles/chambers/2435/CMS/ProsperChamberVertLogo2018-w250.jpg"
                style="height:15rem" alt="Card image cap">
            </div>
            <p class="card-text text-left">Join the Prosper Chamber of Commerce as we celebrate the Donut Stop NTX with a Ribbon Cutting on May 4, 2018
              at 9:00 am. </p>
            <a href="http://www.prosperchamber.com/events/details/ribbon-cutting-donut-stop-ntx-874" class="btn btn-danger">Learn More</a>
          </div>
          <div class="card-footer text-muted">
            May 4, 2018
          </div>
        </div>


        <div class="card text-center border-primary ">
          <div class="card-header">
            <h4 class="card-title">Cultivate - Tuesday Morning Networking</h4>
          </div>
          <div class="card-body">
            <div class="view overlay">
              <img class="card-img mb-2" src="https://chambermaster.blob.core.windows.net/userfiles/UserFiles/chambers/2435/CMS/ProsperChamberVertLogo2018-w250.jpg"
                style="height:15rem" alt="Card image cap">
            </div>
            <p class="card-text text-left">Our Networking Meetings take place on the second and fourth Tuesday of each month at Lighthouse Christian Fellowship
              Church. </p>
            <a href="http://www.prosperchamber.com/events/details/cultivate-tuesday-morning-networking-sponsored-by-the-nest-officing-506"
              class="btn btn-danger">Learn More</a>
          </div>
          <div class="card-footer text-muted">
            May 8, 2018
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--events end -->

  <div class="container mt-4">
    <!--restaurants start-->
    <h2>Best Restaurants in Prosper</h2>
    <div class="card-deck mb-4">
      <!-- Card Narrower -->
      <div class="card card-cascade narrower border-primary">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card content -->
        <div class="card-body">
          <!-- Label -->
          <h5 class="pink-text">
            <i class="fa fa-utensils"></i> Tex-Mex</h5>
          <!-- Restaurant name -->
          <h4 class="card-title">Mesa's Mexican Grill</h4>
          <div class="ratings">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </div>
          <!-- Text -->
          <p class="card-text">Mesas Grill Restaurant takes a succulent approach to cuisine, blending authentic Mexican gastronomy and Tex-Mex
            flavors.
          </p>

          <!-- Button -->
          <a href="http://www.mesasgrill.com/index.html" class="btn btn-danger">Learn More</a>

        </div>

      </div>
      <!-- Card Narrower -->

      <!-- Card Narrower -->
      <div class="card card-cascade narrower border-primary">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Label -->
          <h5 class="pink-text pb-2 pt-1">
            <i class="fa fa-utensils"></i> Tex-Mex</h5>
          <!-- Title -->
          <h4 class="card-title">Ernesto's</h4>
          <div class="ratings">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </div>
          <!-- Text -->
          <p class="card-text">Branch of a local chain offering tableside guacamole, enchiladas & combo plates in a casual space.
          </p>
          <!-- Button -->
          <a href="http://www.mesasgrill.com/index.html" class="btn btn-danger">Learn More</a>

        </div>

      </div>
      <!-- Card Narrower -->


      <!-- Card Narrower -->
      <div class="card card-cascade narrower border-primary">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Label -->
          <h5 class="pink-text pb-2 pt-1">
            <i class="fa fa-utensils"></i> Hamburgers</h5>
          <!-- Title -->
          <h4 class="card-title">JC's Burger House</h4>
          <div class="ratings">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </div>
          <!-- Text -->
          <p class="card-text">Local counter-serve chain featuring burgers, chicken sandwiches, chili & sides in a casual space.</p>
          <!-- Button -->
          <a href="http://www.jcsburgers.com/" class="btn btn-danger">Learn More</a>

        </div>

      </div>
      <!-- Card Narrower -->


      <!-- Card Narrower -->
      <div class="card card-cascade narrower border-primary">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Label -->
          <h5 class="pink-text pb-2 pt-1">
            <i class="fa fa-utensils"></i> Pizza</h5>
          <!-- Title -->
          <h4 class="card-title">Palio's Pizza Cafe</h4>
          <div class="ratings">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </div>
          <!-- Text -->
          <p class="card-text">Palio's Pizza Café has been a community staple throughout the Dallas – Fort Worth metroplex.</p>
          <!-- Button -->
          <a href="http://www.paliospizzacafe.com/" class="btn btn-danger">Learn More</a>

        </div>

      </div>
      <!-- Card Narrower -->

    </div>

    <!--end restaurants-->










    <!--Sponsors-->
    {% include sponsors.html %}
    <!--/Sponsors-->
    <div class="card-deck mb-4">

      <div class="card text-center border-primary ">
        <div class="card-body">
          <h4 class="card-title">Schools</h4>
          <div class="view overlay">
            <img class="card-img" src="/images/undraw_graduation_9x4i.svg" style="height:15rem" alt="Card image cap">
          </div>
          <p class="card-text">Hit the books and go back to School in Prosper!</p>
          <a href="#!" class="btn btn-danger">Find a School</a>
        </div>
      </div>


      <div class="card text-center border-primary">
        <div class="card-body">
          <h4 class="card-title">Restaurants</h4>
          <div class="view overlay">
            <img class="card-img" src="/images/undraw_eating_together_tjhx.svg" style="height:15rem" alt="Card image cap">
          </div>
          <p class="card-text">Hungry? Grab a bite to eat at Restaurants in Prosper!</p>
          <a href="#!" class="btn btn-danger">Find a Restaurant</a>
        </div>
      </div>

      <div class="card text-center border-primary">
        <div class="card-body">
          <h4 class="card-title">Hotels</h4>
          <div class="view overlay">
            <img class="card-img" src="/images/undraw_sleep_analysis_o5f9.svg" style="height:15rem" alt="Card image cap">
          </div>
          <p class="card-text">Find a Hotel to stay for the night, or the entire weekend!</p>
          <a href="#!" class="btn btn-danger">Find a Hotel</a>
        </div>
      </div>

      <div class="card text-center border-primary">
        <div class="card-body">
          <h4 class="card-title">Theaters</h4>
          <div class="view overlay">
            <img class="card-img" src="/images/undraw_movie_night_93wl.svg" style="height:15rem" alt="Card image cap">
          </div>
          <p class="card-text">Find a Hotel to stay for the night, or the entire weekend!</p>
          <a href="#!" class="btn btn-danger">Find a Theater</a>
        </div>
      </div>

      <div class="card text-center border-primary">
        <div class="card-body">
          <h4 class="card-title">Real Estate</h4>
          <div class="view overlay">
            <img class="card-img" src="/images/undraw_for_sale_viax.svg" style="height:15rem" alt="Card image cap">
          </div>
          <p class="card-text">Find a Home or Condo in Prosper!</p>
          <a href="#!" class="btn btn-danger">See Real Estate</a>
        </div>
      </div>

    </div>


    <div class="container-fluid">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner row w-100 mx-auto">
            <div class="carousel-item col-md-4 active">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Card 1</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                    a little bit longer.</p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item col-md-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Card 2</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                    a little bit longer.</p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item col-md-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Card 3</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                    a little bit longer.</p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item col-md-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Card 4</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                    a little bit longer.</p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item col-md-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Card 5</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                    a little bit longer.</p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item col-md-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Card 6</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                    a little bit longer.</p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item col-md-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Card 7</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                    a little bit longer.</p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 text-center mt-4">
                <a class="btn btn-outline-secondary mx-1 prev" href="javascript:void(0)" title="Previous">
                  <i class="fa fa-lg fa-chevron-left"></i>
                </a>
                <a class="btn btn-outline-secondary mx-1 next" href="javascript:void(0)" title="Next">
                  <i class="fa fa-lg fa-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>


  </div>








  <!--Footer-->
  {% include footer.html %}
  <!--/.Footer-->



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script>
    (function ($) {
  "use strict";
  // Auto-scroll
  $('#myCarousel').carousel({
    interval: 5000
  });

  // Control buttons
  $('.next').click(function () {
    $('.carousel').carousel('next');
    return false;
  });
  $('.prev').click(function () {
    $('.carousel').carousel('prev');
    return false;
  });

  // On carousel scroll
  $("#myCarousel").on("slide.bs.carousel", function (e) {
    var $e = $(e.relatedTarget);
    var idx = $e.index();
    var itemsPerSlide = 3;
    var totalItems = $(".carousel-item").length;
    if (idx >= totalItems - (itemsPerSlide - 1)) {
      var it = itemsPerSlide -
          (totalItems - idx);
      for (var i = 0; i < it; i++) {
        // append slides to end 
        if (e.direction == "left") {
          $(
            ".carousel-item").eq(i).appendTo(".carousel-inner");
        } else {
          $(".carousel-item").eq(0).appendTo(".carousel-inner");
        }
      }
    }
  });
})
(jQuery);
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
</body>

</html>